In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# Numbers of records of age ranges form every country

In [25]:
pew = pd.read_csv(r'C:\Studia\Analiza-i-bazy-danych\Lab2\Analysis_Data\tb-tidy-full.csv')


columns = pew.age
pd.crosstab(index=pew.country, columns=columns)

age      0-14  0-4  15-24  25-34  35-44  45-54  5-14  55-64  65+  unknown
country
AD         21    6     20     21     21     22     6     20   20        6
AE         16    6     16     16     16     16     6     16   16        2
AF         24    0     24     24     24     24     0     24   24        0
AG         11    2     12     12     12     13     2     11   11        0
AI          2    0      2      2      2      2     0      2    2        0
...       ...  ...    ...    ...    ...    ...   ...    ...  ...      ...
YE         28    0     28     28     28     28     0     28   28        2
YU         14    0     14     14     14     14     0     14   14        0
ZA         20    6     20     20     20     20     6     20   20        2
ZM         18    0     18     18     18     18     0     18   18        2
ZW         14    2     14     14     14     14     2     14   14        2

[213 rows x 10 columns]